body {
    text-align: center;
    font-family: cursive;
    font-size: large;
    background-color: rgb(218, 129, 218);
    background-image: linear-gradient(to bottom right, pink, violet);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    margin-top: 30px;
}
input {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: x-large;
    background-color: black;
    color: whitesmoke;
    box-shadow: 5px rgb(211, 217, 218);;
}
input:hover {
    background-color: rgba(0, 0, 0, 0.445);
}
#symbol {
    background-color: whitesmoke;
    color: black;
}
#symbol:hover {
    background-color: rgb(211, 217, 218);
}
.box{
    width: 100%;
    margin-top: 100px;
    margin-left: 450px;
    padding: 10px;
    height: auto;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 30%;
    box-shadow: 3px 4px 2px #000000;
    border: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}